.enter-form {
  margin-top: 50px;
}

.timetable {
  margin-top: 20px;

  .col-date {
    width: 10%;
  }

  .col-time {
    width: 5%;
  }

  .col-desc {
    width: 70%;
  }

  .row-input {

    &:hover, &:hover td, &:hover th {
      background: #f0f0f0 !important;
    }
    background: #f0f0f0 !important;

    input {
      width: 100%;
      margin-top: 5px;
    }
  }
}

.hint-sum {
  font-size: 20px;
}