.enter-form {
  margin-top: 50px;
}
.timetable {
  margin-top: 20px;
}
.timetable .col-date {
  width: 10%;
}
.timetable .col-time {
  width: 5%;
}
.timetable .col-desc {
  width: 70%;
}
.timetable .row-input {
  background: #f0f0f0 !important;
}
.timetable .row-input:hover,
.timetable .row-input:hover td,
.timetable .row-input:hover th {
  background: #f0f0f0 !important;
}
.timetable .row-input input {
  width: 100%;
  margin-top: 5px;
}
.hint-sum {
  font-size: 20px;
}
.pagination {
  margin: 0 10px 10px 10px !important;
}
.make-report {
  width: 400px;
}
